*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: #1A1A1C;
}
.container {
    margin: 0 auto;
    padding: 20px;
    margin-top: 50px;
    width: 1000px;
    height: 700px;
  }
table {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  border-spacing: 0;
  }
  th:first-child {
    width: 10px;
  }
  th{
    visibility: hidden;
  }
  td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #fff;
  }
  
  td:nth-child(4) { 
    text-align: end;
  }
  td:nth-child(5) { 
    text-align: end;
  }
  td:nth-child(6) { 
    text-align: end;
  }
  .buttons{
    display: flex;
    align-items: center;
    color: #fff;
    margin-top: 7%;
    gap: 20px;
  }
  #search-input, input[type=text]{
    padding-left: 20px;
    width: 700px;
    height: 35px;
    border: 1px solid #fff;
    border-radius: 4px;
    box-sizing: border-box;
    color: #fff;
  }
  button{
    width: 150px;
    height: 35px;
    background-color: white;

  }
  #coin-table img{
    width:28px;
  }
